version: 2.1

jobs:
  test:
    docker:
      - image: cimg/node:16.7.0

    working_directory: ~/react-native-pinwheel/example

    steps:
      - checkout:
          path: ~/react-native-pinwheel
      - run: npm install
      - run:
          name: jest tests
          command: |
            mkdir -p test-results/jest
            yarn run test
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results

  publish:
    docker:
      - image: cimg/node:16.7.0
    working_directory: ~/react-native-pinwheel
    steps:
      - checkout
      - run:
          name: Authenticate with NPM registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >
            ~/react-native-pinwheel/.npmrc
      - run:
          name: NPM Install
          command: npm install
      - run:
          name: NPM Publish
          command: npm run pinwheel-publish
    # The resource_class feature allows configuring CPU and RAM resources for each job. Different resource classes are available for different executors. https://circleci.com/docs/2.0/configuration-reference/#resourceclass
    resource_class: large

workflows:
  test-and-publish:
    jobs:
      - test
      - publish:
          requires:
            - test
          filters:
            branches:
              only: master
