version: 2.1

jobs:
  publish:
    docker:
      - image: circleci/node:12.16.1
    working_directory: ~/react-native-pinwheel
    steps:
      - checkout
      - run:
          name: Authenticate with NPM registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/react-native-pinwheel/.npmrc
      - run:
          name: NPM Install
          command: npm install
      - run:
          name: NPM Install Peer Dependencies
          command: npm install react@16.8.1 react-native@0.61.3 react-native-webview@10.9.2
      - run:
          name: NPM Build
          command: npm run build
      - run: |
          _NPM_PACKAGE_NAME=$(npm list | head -n 1 | cut -d ' ' -f1)
          if [[ -z "$(npm info ${_NPM_PACKAGE_NAME} 2> ./test)"  ]]; then
              echo "version doesnt exist, continuing"
          else
              echo "version already exists"
              circleci-agent step halt
          fi
      - run:
          name: NPM Publish
          command: npm publish
      - run:
          name: Done
          command: echo "Done!"

workflows:
  publish:
    jobs:
      - publish:
          filters:
            branches:
              only: master
